version: '3.8'

services:
  frontend:
    image: hunainkhan29/fullstack-frontend:latest
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - app-network
    restart: unless-stopped

  backend:
    image: hunainkhan29/fullstack-backend:latest
    ports:
      - "5000:5000"
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge
